# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
venv.bak/
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
*.sqlite3

# VS Code
.vscode/
.history/

# Outros
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo